<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ACMReports.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <ACMReports.Properties.Settings>
            <setting name="ACMServerIP" serializeAs="String">
                <value />
            </setting>
            <setting name="ACMServerPort" serializeAs="String">
                <value />
            </setting>
            <setting name="ACMUsername" serializeAs="String">
                <value />
            </setting>
            <setting name="ACMPassword" serializeAs="String">
                <value />
            </setting>
            <setting name="EntranceEvent" serializeAs="String">
                <value />
            </setting>
            <setting name="EntranceDoor" serializeAs="String">
                <value />
            </setting>
            <setting name="ExitEvent" serializeAs="String">
                <value />
            </setting>
            <setting name="ExitDoor" serializeAs="String">
                <value />
            </setting>
        </ACMReports.Properties.Settings>
    </userSettings>
</configuration>